let mapleader=","
set hlsearch
set incsearch

" nnoremap <A-H> <Action>(ToggleInlayHintsGloballyAction)
" nnoremap <A-A> <Action>(VimFindActionIdAction)

" logical undo
nnoremap U <C-R>

" Custom movements  __
" line refocus
noremap tt zt
noremap TT zb
" end/start of line
noremap L $
noremap H 0
onoremap L $
onoremap H 0
" --
noremap gL g_
noremap gH ^
onoremap gL g_    
onoremap gH ^

nnoremap <leader><leader>o o<Esc>
nnoremap <leader><leader>u O<Esc><CR>

" visual marker-line
vnoremap <Up> kok$
vnoremap <Down> joj$

" Custom Escape  __
noremap <leader>j <Esc>
inoremap <leader>j <Esc>
cnoremap <leader>j <Esc>
noremap <leader>J <Esc>
inoremap <leader>J <Esc>
cnoremap <leader>J <Esc>

" Searching  __
" Toggle ignorecase ***
nnoremap <leader>ic :set ic!<CR>
noremap <leader>ii /
noremap <leader>uu ?
nnoremap <leader>iv /\v
nnoremap <leader>uv ?\V
noremap <leader>ic /\c
noremap <leader>uc ?\c
" --
" HACK: Change to nzzb / Nzzb
nnoremap n nzzh | nnoremap N Nzz

" Cutting/Pasting (from two system clipboards)  __
inoremap <leader>ii +
" ----
nnoremap <leader>ia "*p
inoremap <leader>ia *
" inoremap <leader>ia *

" Window-Actions/Buffers (etc)  __
" TODO: Close File/Tab  cT,  Close All Tabs but present
" TODO: PIN TAB

" Macros/Actions  __
" Run latest run macro **
noremap Q @@
" Run latest command/action, jump to next search-match + center
nnoremap ö .nzz
" Run latest macro/cli-command, jump to next search-match + center
nnoremap zö @@nzz

